@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>@Model.Message</h3>
<h3 style="color:orange;">@Model.Author</h3>

<table>
    <tr>
        <td>r1 c1</td>

        <td>r1 c2</td>

        <td>r1 c3</td>
    </tr>

    <tr>
        <td>r2 c1</td>

        <td>r2 c2</td>

        <td>r2 c3</td>
    </tr>

    <tr>
        <td>r3 c1</td>

        <td>r3 c2</td>

        <td>r3 c3</td>
    </tr>
</table>

<div align="justify">
    Hello<br />
    dear<br />
    world!<br />
</div>

<p>Use this area to provide additional information.</p>