@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>@Model.Message</h3>
<h3>@Model.Author</h>

<p>Use this area to provide additional information.</p>